---
import Layout from '../layouts/Layout.astro'
import { MoodProvider } from '../components/MoodProvider.tsx'
---

<Layout>
  <main class='mx-auto my-8 max-w-screen-md px-4 md:px-0'>
    <h1 class='text-4xl font-semibold text-neutral-800'>Angelo's Mood</h1>

    <MoodProvider client:only />
  </main>
</Layout>
