---
import '@fontsource-variable/inter-tight'

export interface Props {
  color: string
}

const { color } = Astro.props
---

<p
  class:list={[
    'flex aspect-square select-none items-center justify-center rounded-xl p-2 text-center opacity-75',
    color
  ]}
>
  <slot />
</p>
