---
import '@fontsource-variable/inter'
import defaultSEO from '../default-seo.ts'
import { SEO, type Props as SEOProps } from 'astro-seo'
import type { PartialDeep } from 'type-fest'
import { Head } from 'astro-capo'
import ProducedByHuman from '../components/ProducedByHuman.astro'

export interface Props {
  seo?: PartialDeep<SEOProps>
}

const { seo } = Astro.props

const finalSeo = Object.assign(defaultSEO, seo)
---

<!doctype html>
<html lang='en'>
  <Head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <SEO {...finalSeo} />
    <script is:inline defer data-domain='mood.angelo.fyi' src='https://a.angelo.fyi/js/script.js'
    ></script>
  </Head>
  <body class='bg-neutral-300'>
    <slot />

    <footer class='m-4 mx-auto flex max-w-screen-sm px-2'>
      <div class='flex-1'>
        <div class='text-neutral-500'>
          Created by <a href='https://angeloanan.xyz' class='font-medium'>Angelo</a>
        </div>
        <div class='text-neutral-500'>
          0.013 g of{' '}
          <abbr
            title='Carbon dioxide equivalent'
            class='font-medium underline decoration-dotted underline-offset-2'>CO<sub>2</sub></abbr
          >
          emitted
        </div>
      </div>
      <div>
        <ProducedByHuman />
      </div>
    </footer>
  </body>
</html>
